.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
    transform: translate(-50%,-50%);
    overflow: visible;
}

.bottom-right {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 2em;
    right: 1em;
}