.mapboxgl-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
    transform: translate(-50%,-50%);
}

/* .lang-native-american {
    background-color: rgb(255, 162, 178);
} */